<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio | Todo List-o</title>
</head>
<body>
    <main>
        <section class="principalContainer">
            <div class="titleContainer">
                <span id="welcomeSpan">Hola, Estanis</span>
                <span>Todo List-o</span>
            </div>
            <div class="newTask">
                <img src="#" alt="Button to add a new task">
                <input type="text" name="newTask" id="newTask" placeholder="Agregar una nueva tarea">
                <button class="addBtn">AGREGAR</button>
            </div>
            <ul id="taskList"></ul>
        </section>
    </main>
    <footer>
        <div class="logoFooter">
            <img src="#" alt="Logo Todo List-o">
        </div>
        <hr>
        <ul>
            <li>Desarrollado por Estanislao Salinas Previte</li>
            <li>Materia: Frontend II en CESDE</li>
            <li>Profesor: Jossy ---</li>
        </ul>
    </footer>
    <script type="module" src="/src/scripts/app.js"></script>
</body>
</html>