@keyframes floatLWall {
  0% {
    transform: perspective(1500px) rotateY(45deg) translateY(0);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  }
  25% {
    transform: perspective(1500px) rotateY(45deg) translateY(-5px) translateX(3px) rotateZ(0.5deg);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
  }
  50% {
    transform: perspective(1500px) rotateY(45deg) translateY(5px) translateX(-3px) rotateZ(-0.5deg);
    box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.22);
  }
  75% {
    transform: perspective(1500px) rotateY(45deg) translateY(-3px) translateX(2px) rotateZ(0.2deg);
    box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.23);
  }
  100% {
    transform: perspective(1500px) rotateY(45deg) translateY(0);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  }
}
@keyframes floatRWall {
  0% {
    transform: perspective(1500px) rotateY(-45deg) translateY(0);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  }
  25% {
    transform: perspective(1500px) rotateY(-45deg) translateY(-5px) translateX(3px) rotateZ(0.5deg);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
  }
  50% {
    transform: perspective(1500px) rotateY(-45deg) translateY(5px) translateX(-3px) rotateZ(-0.5deg);
    box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.22);
  }
  75% {
    transform: perspective(1500px) rotateY(-45deg) translateY(-3px) translateX(2px) rotateZ(0.2deg);
    box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.23);
  }
  100% {
    transform: perspective(1500px) rotateY(-45deg) translateY(0);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  }
}
@keyframes floatCapsule {
  0% {
    transform: translateY(0px);
    filter: drop-shadow(0px 100px 30px rgba(18, 18, 18, 0.253));
  }
  25% {
    transform: translateY(-15px) rotateZ(0.5deg);
    filter: drop-shadow(0px 100px 30px rgba(18, 18, 18, 0.256));
  }
  50% {
    transform: translateY(5px) rotateZ(-0.5deg);
    filter: drop-shadow(0px 100px 30px rgba(18, 18, 18, 0.259));
  }
  75% {
    transform: translateY(-13px) rotateZ(0.2deg);
    filter: drop-shadow(0px 100px 30px rgba(18, 18, 18, 0.261));
  }
  100% {
    transform: translateY(0);
    filter: drop-shadow(0px 100px 30px rgba(18, 18, 18, 0.305));
  }
}
@keyframes translateOut {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(1500px);
  }
}
@keyframes translateIn {
  0% {
    transform: translateX(1500px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes slideDown {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 220px;
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

html {
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  background-image: linear-gradient(#051327, #000);
  color: #f1f1f1;
  background-size: cover;
  font-family: "Afacad", serif;
  background-attachment: fixed;
}
body li {
  list-style: none;
}

footer {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  color: #2c2c2c;
}
footer .logoFooter {
  width: 48%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
footer .logoFooter img {
  width: auto;
  height: 50px;
  cursor: pointer;
}
footer hr {
  border: 1px solid rgb(188, 188, 188);
  height: 90px;
}
footer ul {
  width: 48%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
main .titleZone {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
main .titleZone h1 {
  font-weight: 600;
  font-size: 45px;
}
main .titleZone button {
  padding: 5px;
  border: 1px solid #f1f1f1;
  border-radius: 50px;
  background-color: transparent;
  transition: all 0.3s ease;
  font-family: "Afacad", serif;
  width: 250px;
  height: 50px;
  font-size: 16px;
  color: #f1f1f1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
}
main .titleZone button:hover {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  color: #2c2c2c;
}
main #regLoginContainer {
  border: 1px solid yellow;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
main #regLoginContainer .registerContainer, main #regLoginContainer .loginContainer {
  width: 350px;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 10px;
  display: flex;
}
main #regLoginContainer .registerContainer h3, main #regLoginContainer .loginContainer h3 {
  width: 100%;
  height: 40px;
  font-size: 22px;
}
main #regLoginContainer .registerContainer form, main #regLoginContainer .loginContainer form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  color: #2c2c2c;
  gap: 5px;
  border-radius: 5px;
  padding: 5px;
}
main #regLoginContainer .registerContainer form input, main #regLoginContainer .loginContainer form input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  font-family: "Afacad", serif;
}
main #regLoginContainer .registerContainer form button, main #regLoginContainer .loginContainer form button {
  padding: 5px;
  border: 1px solid #f1f1f1;
  border-radius: 50px;
  background-color: transparent;
  transition: all 0.3s ease;
  font-family: "Afacad", serif;
  width: 100%;
  height: 40px;
  font-size: 16px;
  color: #f1f1f1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #2c2c2c;
  border: 1px solid #2c2c2c;
  border-radius: 5px;
}
main #regLoginContainer .registerContainer form button:hover, main #regLoginContainer .loginContainer form button:hover {
  background-image: linear-gradient(#051327, #000);
  color: #f1f1f1;
}
main #regLoginContainer .registerContainer span, main #regLoginContainer .loginContainer span {
  width: 350px;
  height: 30px;
  padding-left: 10px;
}
main #regLoginContainer .registerContainer span #showLoginForm, main #regLoginContainer .loginContainer span #showLoginForm {
  color: #8dfff4;
  cursor: pointer;
  font-weight: 600;
  padding-left: 0px;
}
main #regLoginContainer .registerContainer span #showLoginForm:hover, main #regLoginContainer .loginContainer span #showLoginForm:hover {
  border-bottom: 1px solid white;
}
main #regLoginContainer .loginContainer {
  display: flex;
  height: 300px;
}/*# sourceMappingURL=index.css.map */