//Variables
$backgroundImage: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
$darkBackgroundImage: linear-gradient(60deg, #29323c 0%, #22282e 100%);
$degColorBasic: linear-gradient(180deg, #062478 0%, #5a168a 100%);
$nightBackgroundImage: linear-gradient(#051327, #000);
$btnImageColor: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
$degDivsColor: linear-gradient(135deg, #667eea 0%, #764ba2 100%); 
$degBlueColor: linear-gradient(50deg, #3f6deb 0%, #332eba 100%);
$degVioletColor: linear-gradient(50deg, #7b0072 0%, #aa1f69 100%);
$darkFontColor: #2c2c2c;
$lightFontColor: #f1f1f1;
$afacadFont: "Afacad", serif;
$rubikFont: "Rubik Mono One", serif;
$jerseyFont: "Jersey 10", serif;
$sm: 14px;
$md: 16px;
$lg: 22px;
$slg: 30px;
$noBold: 400;
$bold: 600;